
/*
here are use mostly classes to show BEM solution for all
in react solution are mostly tags
for react solution specifity is lower so as I understand it is better and more clear to read and easer for possible changes
*/

/*variables*/
:root {

    /*size*/
    --width-100: 100%;

    /*backgroundcolors*/
    --bgc-color-white: #FFFFFF;
    --bgc-input-gray: #F7F7F7;
    --bgc-input-hover: #E5E5E5;

    /****fonts****/
    /*font family*/
    --h1-family: 'Eczar';
    --label-and-button-font: 'Roboto Mono';
    --p-txt-family: 'Roboto';

    /*colors*/
    --gray-font: #343541;
    --gray-2-font: #292A33;
    --red-1-normal:#EC1115;
    --red-2-hover:#A60C0E;
    --red-4-border-active: #F47073;
    --label-color:#F47073;
    --placeholder-color: #85868D;

    /*size*/
    --font-size-80: 5rem;
    --line-height-80: 5.125rem;
    --font-size-22: 1.375rem;
    --font-size-18: 1.125rem;
    --line-height-18: 1.125rem;
    --font-size-14: 0.875rem;
    --line-height-14: 1.125rem; 
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --font-weight-700: 700;

    /*borders*/
    --border-color-blue: #2F80ED;
    --border-width-1: 2px;
    --border-style-1: solid;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bgc-color-white);
}
/***Container for all content***/
.container-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: var(--width-100);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    padding: 25px 48px;
}

/***firs step of registration***/

/*for three steps of registration same class*/
.registration {
    display: flex;
    width:55%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 124px;
    padding-bottom: 124px;
}

.registration__headings__heading {
    font-family: var(--h1-family);
    font-size: var(--font-size-80);
    font-weight: var(--font-weight-600);
    line-height: var(--line-height-80);
    letter-spacing: -0,01em;
    color: var(--gray-font);
    padding-left: 12px;
}

.registration__headings__heading + .registration__headings__heading {
    opacity: 0.6;
    padding-bottom: 40px;
}

.registration__form {
    display: flex;
    flex-direction: column;
    font-family: var(--label-and-button-font);
    font-style:normal;
    font-size: var(--font-size-18);
    line-height: var(--line-height-18);
    font-weight: var(--font-weight-400);
    width: 77%;
    background-color: var(--bgc-color-white);
    box-shadow: 0px 4px 22px rgba(52, 53, 65, 0.15);
    border-radius: 24px;
    padding:  46px 64px 64px 64px;
}

.registration__inputdiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 8px;
    position: relative;
}


.registration__inputdiv__label {
    width: auto;
    font-weight: var(--font-weight-700);
    font-size: var(--font-size-14);
    line-height: var(--line-height-14);
    text-transform: uppercase;
    color: var(--label-color);
    padding-top: 18px;
    padding-bottom: 12px;
}

.registration__inputdiv input {
    height: 55px;
    width: var(--width-100);
    font-family: 'Roboto';
    font-size: var(--font-size-18);
    background-color: var(--bgc-input-gray);
    border-style: var(--border-style-1);
    border-color: var(--bgc-input-gray);
    border-width: var(--border-width-1);
    border-radius: 8px;
    color:var(--gray-font);
    padding: 24px;
}

input:hover {
    background-color: var(--bgc-input-hover);
    border-color: var(--bgc-input-hover);
}

input:focus {
    outline: none !important;
    border-color: var(--border-color-blue);
}

input::placeholder {
    color: var(--placeholder-color);
    opacity: 1; /* Firefox */
  }

.registration__inputdiv--button {
    width: 32px;
    height: 32px;
    background-position: center;
    background-color:rgba(0, 0, 0, 0.0);
    background-image: url("assets/eye.svg");
    border-style: none;
    cursor: pointer;
    position: absolute;
    top: calc(48px + 11.5px);
    right: 3%;
}

.registration--password-requirements, .registration--paragraph-minimum-age {
    padding-top: 8px;
    padding-bottom: 30px;
    font-family: var(--p-txt-family);
    font-size: var(--font-size-14);
    line-height: 170%;
    letter-spacing: 0.04em;
    color: var(--gray-font);
}

.registration__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: var(--label-and-button-font);
    font-style: normal;
    font-weight: var(--font-weight-500);
    font-size: var(--font-size-18);
    line-height: 100%;
    letter-spacing: 0.015em;
}

.registration__buttons__login {
    color: var(--red-1-normal);
    text-decoration: none;
}

.registration__buttons__button {
    all:inherit;
    cursor: pointer;
    width: 48%;
    height: 56px;
    color: var(--bgc-color-white);
    padding: 20px 40px;
    background-color: var(--red-1-normal);
    border-radius: 64px;
    border: 5px solid var(--red-1-normal);
}

.registration__buttons__button:hover {
    background: var(--red-2-hover);
    border-color:var(--red-2-hover);
}

.registration__buttons__button:active {
    border: 5px solid var(--red-4-border-active);
    background: var(--red-2-hover);
}

/***second step of registration***/

.registration__inputdiv__label + .registration__inputdiv--input-date {
    color: var(--placeholder-color);
}

.registration--paragraph-minimum-age {
    padding-bottom: 25.5px;
}

.registration__inputdiv-check {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 40px;
    font-family: var(--p-txt-family);
    font-style: normal;
    font-weight: var(--font-weight-400);
    font-size: var(--font-size-18);
    line-height: 21px;
    letter-spacing: 0.04em;
    color: var(--gray-2-font);
}

.registration__inputdiv--input-check {
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    border: 0.75px solid #AEAEB3;
    border-radius: 8px;
}

.registration__divcheck--privacy {
    text-decoration: underline !important;
    color: var(--gray-2-font);
}

/***third step of registration***/

.success-message {
    padding-top: 320px;
}

.registration__headings__succes {
    padding-bottom: 48px;
    padding-left: 0px;
    width: auto;
}

.registration--succesh3 {
    font-family: 'Roboto';
    font-weight: var(--font-weight-400);
    font-size: var(--font-size-18);
    line-height: 21px;
    text-align: center;
    padding-bottom: 48px;
    color: var(--gray-2-font);
}

.registration--succesh3--span {
    font-weight: var(--font-weight-700);
}

.registration--succes-div-button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
}

.registration--succes-div-button--button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 37%;
    font-family: var(--label-and-button-font);
    font-style: normal;
    font-weight: var(--font-weight-500);
    font-size: var(--font-size-18);
    line-height: 100%;
    letter-spacing: 0.015em;
    color: var(--bgc-color-white);
    padding: 14px 5px;
    background-color: var(--red-1-normal);
    border-radius: 64px;
    border: 5px solid var(--red-1-normal);
}

.registration--succes-div-button--button:hover {
    background: var(--red-2-hover);
    border-color: var(--red-2-hover);
}

.registration--succes-div-button--button:active {
    border: 5px solid var(--red-4-border-active);
}

/****show or hide steps****/
.display {
    display: none;
}

@media (max-width:1312px) {
    .registration {
        width:60%;
    }

    .registration__headings__heading {
        padding-left: 40px;
    }
    
    .registration__form {
        width: 80%;
    }
    
    /***third step of registration***/
   
    .registration__headings__succes {
        padding-left: 0px;
    }
    
    .registration--succes-div-button--button {
        width: 42%;
    }

}

@media (max-width:1200px) {

    .registration {
        width:80%;
    }
    
    .registration__headings__heading {
        padding-left: 0px;
    }
    
    .registration__buttons__button {
        width: 47%;
        padding: 14px 40px;
    }

    /***third step of registration***/
    
    .registration--succes-div-button--button {
        width: 36%;
    }

}

@media (max-width:992px) {

    .header {
        justify-content: center;
        padding: 24px 0px 70px 0px;
    }

    .header--love {
        display: none;
    }

    .registration {
        width: var(--width-100);
        padding: 24px 24px 22px 24px;
    }

    .registration__headings__heading {
        font-size: 3.75rem;
        line-height: 3.813rem;
        text-align: center;
        padding-left: 0px;
    }

    .registration__headings__heading + .registration__headings__heading {
        padding-bottom: 48px;
    }

    .registration__form {
        width: 74%;
        box-shadow: none;
        padding-top: 0px;
    }
    
    .registration__buttons__button {
        width: 49%;
    }
    
    /***third step of registration***/
    .registration__headings__succes {
        padding-top: 80px;
    }

    .registration--succes-div-button--button {
        width: 38%;
    }
}

@media (max-width:768px) {

    .registration__headings__heading {
        font-size: 3.313rem;
        line-height: 3.375rem;
    }

    .registration__form {
        width: 80%;
        padding: 0px;
    }
    
    .registration__buttons {
        flex-direction: column-reverse;
        align-items: center;
    }

    .registration__buttons__login {
        padding-top: 35px;
    }

    .registration__buttons__button {
        width: 65%;
    }

    /***second step of registration***/

    .registration__divcheck--privacy {
        padding: 0px;
    }
    
    /***third step of registration***/
    .registration__headings__succes {
        padding-top: 69px;
    }

    .registration--succesh3 {
        width: 65%;
    }

    .registration--succes-div-button--button {
        width: 70%;
    }
}

@media (max-width:480px) {

    .header {
        padding-bottom:64px;
    }

    .registration__headings__heading {
        font-size: 2.5rem;
        line-height: 2.563rem;
    }

    .registration__form {
        width: var(--width-100);
    }

    .registration__buttons__button {
        width: var(--width-100);
    }
    
    /***third step of registration***/
    .registration__headings__succes {
        padding-top: 51px;
    }

    .registration--succesh3 {
        width: var(--width-100);
    }

    .registration--succes-div-button {
        width: var(--width-100);
    }

    .registration--succes-div-button--button {
        width: var(--width-100);
        padding: 14px 0px;
    }
}